* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.logo1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabeza {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabeza2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.nav2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav2 ol {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.nav2 a {
  display: block;
  padding: 10px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.nav2 ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.nav2 ul ul ol {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}

.nav2 ul ul a {
  display: block;
  padding: 10px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.nav2 ul ol:hover > ul {
  display: inherit;
}
