* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.logo1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabeza {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabeza2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
